<div class="container" style="height: 100vh; display:flex ; align-items: center;justify-content: center;">
    <div style="display: flex; flex-direction: column;">
        <button  [routerLink]="['home']" style="margin-bottom: 2vw; font-size: 3vw;cursor: pointer;padding: 1vw 2vw; background-color: burlywood;" >View All Products</button>
        <button  [routerLink]="['create']" style="margin-bottom: 2vw; font-size: 3vw;cursor: pointer;padding: 1vw 2vw; background-color: burlywood;" >Add Product</button>
    </div>
</div>
